@font-face {
    font-family: "sans-serif-copy";
    src:    local("Atkinson Hyperlegible Next"), 
            local("Atkinson_Hyperlegible_Next"), 
            url("fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}
html {
    font-size: 100%;
    &[lang*="simple"] {
        font-size: 120%; 
    }
    font-family: sans-serif-copy, sans-serif;
    line-height: 1.5;
}
body {
    font-size: 1rem;
    max-width: 45rem;
    margin: 0 auto;
    padding: 0;
    background-color: $body-background;
    color: $text-color;
    //> *:not(main):not(header) { // funktioniert, aber länger
    > *:not(main, header) {
        background-color: $footer-background;
    }
}
a:any-link{
    color: $link-color;
}
main {
    background-color: $main-background;
}
header {
    background-color: $header-background;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    //width: 100%;
}

// sticky header – solange kein input fokussiert ist
body:not(:has(input:focus)) {
    // background-color: purple;
    header{
        position: sticky;
        top: 0;
        z-index: 100000000;

    }
    *:target{
        scroll-margin-top:130px;
    } 
}

p {
    margin: 0 0 1rem;
}
nav ul {
  //list-style: none; // Safari-Problem
    list-style: "";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        padding: 0 16px;
    }
}
main {
    padding: 0 16px;
    li:nth-child(even) {
      background: yellowgreen;
    }
}
dt, dd {
  display: inline-block;
}
h1 {
    padding-inline-start: 32px;
}
.monospace {
    font-family: monospace;
}
.sans-serif {
    font-family: sans-serif;
}
.serif {
    font-family: serif;
}
.fantasy {
    font-family: fantasy;
}

// FOUT => Flash of Unstyled Text
// FOIT => Flash of Invisible Text

@media print{
    // section#sitemap { // klappt nicht, die ID ist IN der Section
    // section:has(#sitemap) { // funktioniert, aber IDs müssen bekannt sein
    .in-screen-only { // klasse überall setzen wo etwas nur im Screen angezeigt werden soll
        display: none;
    }
}