@charset "UTF-8";
aside, header, footer, main, nav, section,
article,
div, noscript,
h1, h2, h3, h4, h5, h6, p,
pre,
address,
form, fieldset,
figcaption, figure, picture,
iframe, video, audio,
table, thead, tbody, tfoot {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code,
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section, search {
  display: block;
}

span,
abbr, dfn,
em, strong, mark,
del, s, ins,
cite, q, sub, sup,
p code, li code, dl code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code kbd,
samp,
var,
time,
label, select, textarea, progress,
data,
object {
  font-style: normal;
  display: inline-block;
  position: relative;
}

a, button {
  font-style: normal;
  position: relative;
}

button {
  display: inline-block;
}

ul:not([class]), ol:not([class]) {
  margin-block-start: 16px;
  margin-block-end: 16px;
}

:root {
  --error: red;
  --warning: orange;
  --ok: green;
  --text-color: #000;
  --link-color: #00F;
  --body-background: #fefefe;
  --main-background: #ffda8a;
  --header-background: #8aff93;
  --footer-background: #8aff93;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --error: red;
    --text-color: #fff;
    --link-color: #fbff00;
    --body-background: #010101;
    --main-background: #6b4900;
    --header-background: #ff7300;
    --footer-background: #ff7300;
  }
}
@media print {
  :root {
    --body-background: #fff;
    --main-background: #fff;
    --header-background: #fff;
    --footer-background: #fff;
  }
}

@font-face {
  font-family: "sans-serif-copy";
  src: local("Atkinson Hyperlegible Next"), local("Atkinson_Hyperlegible_Next"), url("fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
html {
  font-size: 100%;
  font-family: sans-serif-copy, sans-serif;
  line-height: 1.5;
}
html[lang*=simple] {
  font-size: 120%;
}

body {
  font-size: 1rem;
  max-width: 45rem;
  margin: 0 auto;
  padding: 0;
  background-color: var(--body-background, #fefefe);
  color: var(--text-color, #000);
}
body > *:not(main, header) {
  background-color: var(--footer-background, #8aff93);
}

a:any-link {
  color: var(--link-color, #000);
}

main {
  background-color: var(--main-background, #ffda8a);
}

header {
  background-color: var(--header-background, #8aff93);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

body:not(:has(input:focus)) header {
  position: sticky;
  top: 0;
  z-index: 100000000;
}
body:not(:has(input:focus)) *:target {
  scroll-margin-top: 130px;
}

p {
  margin: 0 0 1rem;
}

nav ul {
  list-style: "";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav ul li {
  padding: 0 16px;
}

.list-style-none {
  list-style: "";
  /*li:before {
      content: "Ä" / "";
  }*/
}

#blog-roll {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
#blog-roll li {
  padding-inline-start: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}
#blog-roll li * {
  position: unset;
}
#blog-roll li a:focus-visible, #blog-roll li a:focus {
  border: none;
}
#blog-roll li a:hover::after {
  border: 3px solid var(--link-color, #000);
}
#blog-roll li a:focus-visible::after {
  border: 3px dashed var(--link-color, #000);
}
#blog-roll li a::after {
  content: "";
  inset: 0 0 0 0;
  position: absolute;
  cursor: pointer;
  z-index: 1000000;
}
#blog-roll li img {
  width: 100%;
  height: auto;
  order: -1;
}

main {
  padding: 0 16px;
}
main li:nth-child(even) {
  background: rgba(0, 0, 0, 0.0666666667);
}

dt, dd {
  display: inline-block;
}

h1 {
  padding-inline-start: 32px;
}

.monospace {
  font-family: monospace;
}

.sans-serif {
  font-family: sans-serif;
}

.serif {
  font-family: serif;
}

.fantasy {
  font-family: fantasy;
}

@media print {
  .in-screen-only {
    display: none;
  }
}
*[aria-label]:hover {
  position: relative;
  margin-top: 2rem;
  border: 3px solid var(--ok, green);
}
*[aria-label]:hover:before {
  content: "  aria-label:  " attr(aria-label) " ";
  color: var(--ok, green);
  top: -1.5rem;
  left: -3px;
  position: absolute;
  background: #fff;
  border: 3px solid var(--ok, green);
  padding: 0 4px;
}

body.debug a {
  outline-offset: 5px;
}
body.debug a[target=_blank] {
  outline: 3px dashed var(--error, red);
}
body.debug a[download] {
  outline: 3px dashed var(--warning, orange);
}
body.debug a[download][href*=".pdf"] {
  outline: 3px dashed var(--error, red);
}
body.debug *:not(img, input, hr, br):empty {
  border: 3px solid var(--error, red);
  background-color: #fff;
}
body.debug *:not(img, input, hr, br):empty:before {
  content: "Leeres Element gefunden!";
  color: var(--error, red);
}
body.debug ul:not([aria-label], [aria-labelledby], [role]), body.debug ol:not([aria-label], [aria-labelledby], [role]) {
  position: relative;
  margin-top: 2rem;
  border: 3px solid var(--error, red);
}
body.debug ul:not([aria-label], [aria-labelledby], [role]):before, body.debug ol:not([aria-label], [aria-labelledby], [role]):before {
  content: "Liste hat keinen Namen im Accessibility-tree!";
  color: var(--error, red);
  top: -2rem;
  position: absolute;
  background: white;
}

a[aria-current] {
  text-decoration: none;
}
